<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{FULL_W_PX}}" height="{{FULL_H_PX}}" viewBox="0 0 {{FULL_W_PX}} {{FULL_H_PX}}" data-back-w="{{BACK_W_PX}}" data-front-x="{{FRONT_X_PX}}" data-front-w="{{FRONT_W_PX}}">
<defs>
<linearGradient id="grad" x1="0" y1="0" x2="0" y2="1">
<stop offset="0" stop-color="#000000" stop-opacity="0.26"/>
<stop offset="0.16" stop-color="#000000" stop-opacity="0.04"/>
<stop offset="0.44" stop-color="#000000" stop-opacity="0"/>
<stop offset="0.72" stop-color="#000000" stop-opacity="0"/>
<stop offset="0.88" stop-color="#000000" stop-opacity="0.06"/>
<stop offset="1" stop-color="#000000" stop-opacity="0.16"/>
</linearGradient>
{{DEFS}}
</defs>
<rect x="0" y="0" width="{{FULL_W_PX}}" height="{{FULL_H_PX}}" fill="{{BGCOLOR}}"/>
{{WRAPBG}}
{{BODY}}
</svg>
